@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2149 0.0085 240.303);
  --card: oklch(0.9784 0.0011 197.1387);
  --card-foreground: oklch(0.2149 0.0085 240.303);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2149 0.0085 240.303);
  --primary: oklch(0.6401 0.1074 240.6746);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2149 0.0085 240.303);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9222 0.0013 286.3737);
  --muted-foreground: oklch(0.2149 0.0085 240.303);
  --accent: oklch(0.941 0.0097 252.8131);
  --accent-foreground: oklch(0.6401 0.1074 240.6746);
  --destructive: oklch(0.5866 0.1614 19.9341);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9311 0.0068 233.6453);
  --input: oklch(0.9814 0.0011 197.1388);
  --ring: oklch(0.647 0.1056 238.1248);
  --chart-1: oklch(0.6401 0.1074 240.6746);
  --chart-2: oklch(0.5933 0.1124 165.5162);
  --chart-3: oklch(0.7488 0.1144 85.7336);
  --chart-4: oklch(0.6233 0.1251 155.7075);
  --chart-5: oklch(0.5667 0.1476 4.1754);
  --sidebar: oklch(0.9784 0.0011 197.1387);
  --sidebar-foreground: oklch(0.2149 0.0085 240.303);
  --sidebar-primary: oklch(0.6401 0.1074 240.6746);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.941 0.0097 252.8131);
  --sidebar-accent-foreground: oklch(0.6401 0.1074 240.6746);
  --sidebar-border: oklch(0.928 0.0068 233.6457);
  --sidebar-ring: oklch(0.647 0.1056 238.1248);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.9rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #4897c7;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9333 0.0011 197.1378);
  --card: oklch(0.2132 0.0042 264.4789);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9333 0.0011 197.1378);
  --primary: oklch(0.6365 0.1079 240.4494);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9626 0.0021 197.1213);
  --secondary-foreground: oklch(0.2149 0.0085 240.303);
  --muted: oklch(0.209 0 0);
  --muted-foreground: oklch(0.5648 0.0039 247.8942);
  --accent: oklch(0.2154 0.0247 241.7117);
  --accent-foreground: oklch(0.6365 0.1079 240.4494);
  --destructive: oklch(0.5866 0.1614 19.9341);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.268 0.0024 247.9137);
  --input: oklch(0.3036 0.0177 241.6043);
  --ring: oklch(0.647 0.1056 238.1248);
  --chart-1: oklch(0.6401 0.1074 240.6746);
  --chart-2: oklch(0.5933 0.1124 165.5162);
  --chart-3: oklch(0.7488 0.1144 85.7336);
  --chart-4: oklch(0.6233 0.1251 155.7075);
  --chart-5: oklch(0.5667 0.1476 4.1754);
  --sidebar: oklch(0.2132 0.0042 264.4789);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.647 0.1056 238.1248);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2154 0.0247 241.7117);
  --sidebar-accent-foreground: oklch(0.6365 0.1079 240.4494);
  --sidebar-border: oklch(0.3787 0.0138 243.9732);
  --sidebar-ring: oklch(0.647 0.1056 238.1248);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.9rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #4897c7;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.6772 53.1381% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
